/* css reset */
html,body{width:100%;height:100%;}
html,body,div,h1,h2,h3,p,strong,ul,ol,li,a,address,img,
header,section,article,footer,aside,nav,
table,caption,thead,tbody,tfoot,tr,th,td,
q,dl,dt,dd,em,blockquote,
form,fieldset,legend,label,input,button
{margin:0;padding:0;}

table{border-collapse: collapse;}
ul,li{list-style:none;}

hr,legend,caption{display:none;}

em,address{font-style:normal;font-weight:400;}
img{border:none;}
q{quotes:none;}

a:link,a:visited,a:hover,a:active{color:#222;text-decoration:none;}

body{overflow-y:scroll;font-size:12px;line-height:1.3;font-family:"Nanum Gothic",돋움,굴림;}

.text-center{
    height:100px;
    line-height:100px;
    text-align:center;
}

.clearfix{*zoom:1;}
.clearfix:after{
    display:block;
    clear:both;
    content:'';
}

.sr-only{
    position: absolute;
    left: -9999px;
}