@media (max-width: 768px) {
	header > div > .gnb {
		position: relative;
		left: -355px;
		top: 0;
	}
	section > .sgnb > .snb > li > p {
		font-size: 30px;
		margin-left: 20px;
	}

	section > .sgnb > .snb > li > .text1,
	section > .sgnb > .snb > li > .text2,
	section > .sgnb > .snb > li > .text3,
	section > .sgnb > .snb > li > .text4,
	section > .sgnb > .snb > li > .text5,
	section > .sgnb > .snb > li > .text6 {
		margin-top: 10px;
		font-size: 35px;
		font-weight: 800;
		margin-left: 20px;
	}
	section > .sgnb > .snb > li > div {
		margin-left: 20px;
	}

	article > .intro {
		margin-left: -350px;
	}
	article > .test2 > li {
		margin-left: 250px;
	}
	article > .test {
		display: flex;
		position: relative;
	}
	article > .test {
		/* border: 1px solid red; */
		width: 365px;
	}
	article > .test > li {
		position: relative;
		left: 365px;
		top: 0;
	}
	article > .test > li:nth-child(3) {
		position: relative;
		left: -380px;
		top: 440px;
	}
	article > .test > li:nth-child(4) {
		position: relative;
		left: -380px;
		top: 440px;
	}
	footer {
		margin-top: 500px;
	}
	footer > div > p {
		position: relative;
		left: -220px;
		top: 20px;
	}
	footer > .account {
		display: flex;
		position: relative;
	}
	footer > div > .account > li {
		position: relative;
		left: 170px;
		top: -5px;
	}
	footer > div > address {
		position: relative;
		left: 350px;
		top: -60px;
	}
}
